# @package _global_
defaults:
  - default.yaml

processor:
  _target_: characterization.processors.feature_processor.FeatureProcessor
  config:
    features:
      - speed
      - speed_limit_diff
      - acceleration
      - deceleration
      - jerk
      - waiting_period
      - waiting_interval
      - waiting_distance
      - trajectory_type
      - kalman_difficulty

characterizer:
  _target_: characterization.features.individual_features.IndividualFeatures
  config:
    feature_type: ${feature_type}
    vehicle_categorization_file: ./meta/type_vehicle_feature_percentiles.json
    cyclist_categorization_file: ./meta/type_cyclist_feature_percentiles.json
    pedestrian_categorization_file: ./meta/type_pedestrian_feature_percentiles.json
