name: pre-commit
on:
  pull_request:
    branches:
      - main
      - develop
      - fix/*
      - bug/*
      - feature/*
  push:
    branches:
      - develop
      - fix/*
      - bug/*
      - feature/*

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6  # shared by uv and pre-commit
      - uses: astral-sh/setup-uv@v7
      - name: Set up Environment
        run: uv sync --frozen --all-groups
      - uses: pre-commit/action@v3.0.1
        with:
          extra_args: --all-files
